*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;

}
header{
    background-image: url(../nsp\ bg\ pic\ 1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 30px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: burlywood;
}